<template>
    <div class="chat-app">
        <Conversation :contact="selectedContact" :messages="messages" @new="saveNewMessage"/>
        <ContactsList :contacts="contacts" @selected="startConversationWith"/>
    </div>
</template>

<script>

    import Conversation from './Conversation.vue'
    import ContactsList from './ContactsList.vue'
    export default {
        components: {
            'Conversation': Conversation,
            'ContactsList': ContactsList
        },

        props: {
            user:{
                type: Object,
                required: true
            }
        },

        data(){
            return {
                selectedContact: null,
                messages: [],
                contacts: []
            }
        },
        mounted() {
            Echo.private(`messages.${this.user.id}`)
                .listen('NewMessage',(e) => {
                    this.handleIncoming(e.message);
                });
            axios.get('/contacts')
                .then((response) => {
                    this.contacts = response.data;
                });
        },

        methods: {
            startConversationWith(contact){
                this.updateUnreadCount(contact,true);
                axios.get(`/conversation/${contact.id}`)
                    .then((response) => {
                        this.messages = response.data;
                        this.selectedContact = contact;
                    });
            },

            saveNewMessage(message){
                this.messages.push(message);
            },

            handleIncoming(message){
                if(this.selectedContact && this.selectedContact.id == message.from){
                    this.saveNewMessage(message);
                    return;
                }

                this.updateUnreadCount(message.sender,false);
            },

            updateUnreadCount(contact,reset){
                this.contacts = this.contacts.map((single) => {
                    if(single.id != contact.id){
                        return single;
                    }

                    if(reset){
                        single.unread = 0;
                    }else{
                        single.unread += 1;
                    }

                    return single;
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    .chat-app{
        display:flex;
    }
</style>