<template>
    <div class="conversation">
        <h1>{{ contact ? contact.name : 'Select a Contact' }}</h1>
        <MessageFeed :contact="contact" :messages="messages"></MessageFeed>
        <MessageComposer @send="sendMessage"></MessageComposer>
    </div>
</template>

<script>

    import MessageComposer from './MessageComposer.vue'
    import MessageFeed from './MessageFeed.vue'

    export default{
        props: {
            contact: {
                type: Object,
                default: null
            },

            messages: {
                type: Array,
                default: []
            }
        },

        methods: {
            sendMessage(text){

                if(!this.contact){
                    return;
                }

                let data = {
                  body:text,
                  to: this.contact.id
                };
                axios.post('/send-message',data).then((response) => {
                    this.$emit('new',response.data);
                })
            }
        },

        components: {
             MessageComposer,
             MessageFeed
        }
    }
</script>


<style lang="scss" scoped>
    .conversation{
        flex:5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-size: 20px;
            padding: 10px;
            margin: 0;
            border-bottom: 1px dashed lightgray;
        }
    }
</style>